[user]
    name = Pedro Aureliano  # Use your name here
    email = pedroeks155@gmail.com  # Use your main email here
[core]
    editor = code --wait
    autocrlf = input
[init]
    defaultBranch = main
[alias]
    s = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate
[pull]
    rebase = false